body {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: linear-gradient(90deg, #590696, #9c1de7) !important;
  --secondry-color: #9c1de7 !important;
}

.header {
  display: flex;
  background: var(--secondry-color);
  color: white;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 20px;
  padding: 0 30px;
}

.header .custom-btn {
  background-color: rgba(245, 245, 245, 0.984);
  color: black;
  border: none;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: background-color 0.3s ease-in;
}

.custom-btn:hover {
  background-color: rgba(255, 255, 255, 0.662);
}

.table {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.8s ease-in-out;
}

.table th, .table td {
  vertical-align: middle;
}

.table th {
  color: black;
  text-transform: capitalize;
}

.bx {
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.bx:nth-child(2) {
  margin-left: 10px;
}

.bx:hover {
  transform: scale(.9);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.edit-form,
.create-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.edit-form form,
.create-form form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-form input:focus,
.edit-form select:focus,
.create-form input:focus,
.create-form select:focus {
  border-color: var(--secondry-color);
  box-shadow: 0 0 5px var(--secondry-color);
}

.create-form .close-icon,
.edit-form  .close-icon {
  position: relative;
  bottom: 19%;
  left: 55%;
  font-size: 33px;
  color: red;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.create-form .close-icon:hover
.edit-form .close-icon:hover {
  transform: scale(.9);
}

.edit-save,
.create-save {
  background-color: var(--secondry-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.edit-save:hover,
.create-save:hover {
  background-color: #9d1de78c;
}

/* notficition styles */

.toast-deleted {
  background-color: rgba(255, 0, 0, 0.505);
  height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  width: 200px;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}

.toast-saved {
  background-color: rgba(0, 128, 0, 0.596);
  height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  width: 200px;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}

.toast-created {
  background-color: rgba(0, 128, 0, 0.596);
  height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  width: 200px;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}
